<div class="order-form-container">
    <span *ngIf="!fourthContent" class="order-form-container__title">CREAR PEDIDO</span>
    <nz-steps [nzCurrent]="current" [ngStyle]=" {'width' : fourthContent ? '15%' : '30%'}">
        <nz-step></nz-step>
        <nz-step></nz-step>
        <nz-step></nz-step>
    </nz-steps>
    <form [formGroup]="_orderForm.baseForm" nz-form nzLayout="vertical">
        <div formGroupName="client_info" *ngIf="firstContent">
            <span class="order-form-container__sub-title">Completa los datos del cliente:</span>
            <div class="order-form-container__row">
                <nz-form-item>
                    <nz-form-label>Nombre * :</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor ingresa el nombre del cliente!">
                        <input formControlName="first_name" type="text" nz-input placeholder="Escribe aquí…">
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Apellido * :</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor ingresa el apellido del cliente!">
                        <input formControlName="last_name" type="text" nz-input placeholder="Escribe aquí…">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <app-phone [parentForm]="_orderForm.baseForm.get('client_info')"></app-phone>
            <nz-form-item>
                <nz-form-label>Correo electrónico *:</nz-form-label>
                <nz-form-control nzErrorTip="Por favor ingresa tu correo electrónico!">
                    <input formControlName="email" type="text" nz-input placeholder="Correo electrónico">
                </nz-form-control>
            </nz-form-item>
            <app-cities-select [parentForm]="_orderForm.baseForm.get('client_info')"> </app-cities-select>
            <nz-form-item>
                <nz-form-label>Dirección *:</nz-form-label>
                <nz-form-control nzErrorTip="Por favor ingresa la dirección!">
                    <input formControlName="address" type="text" nz-input placeholder="Escribe aquí…">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Detalle de la dirección *:</nz-form-label>
                <nz-form-control nzErrorTip="Por favor ingresa el detalle de tu dirección!">
                    <input type="text" nz-input placeholder="Número de casa / apto / oficina">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Indicaciones de dirección:</nz-form-label>
                <nz-form-control>
                    <textarea nz-input
                        placeholder="Escribe aquí las instrucciones o comentarios para ayudar al domiciliario…"
                        [nzAutosize]="{ minRows: 5, maxRows: 5 }"></textarea>
                </nz-form-control>
            </nz-form-item>
            <span>*Campos obligatorios</span>
        </div>
        <div *ngIf="secondContent">
            <span class="order-form-container__sub-title">Confirma tu ubicación en el mapa</span>
            <div class="mg-y-5">
                <div class="map-container">
                    <div id="viewport-map"></div>
                </div>
            </div>
        </div>
        <div *ngIf="thirdContent">
            <span class="order-form-container__sub-title mb-bottom-15">Selecciona la información de tu negocio</span>
            <!-- <div  class="justify-content-right p-relative">
                <app-button [title]="'Añadir nueva sucursal'" [subfixIcon]="'plus'" class="p-absolute"
                    [customClasses]="'negative-second-btn pdd-x-15 font-16 '" [isLoading]="false"></app-button>
            </div> -->
            <nz-form-item>
                <nz-form-label class="mg-y-5">Selecciona la sucursal * :</nz-form-label>
                <nz-form-control nzErrorTip="Porfavor ingrese la ciudad!">
                    <nz-select [ngModelOptions]="{standalone: true}" [(ngModel)]="branchOfficeSelected"
                        id="branchOffice" nzPlaceHolder="Selecciona la surcusal"
                        (ngModelChange)="changeBranchOffice(branchOfficeSelected)">
                        <ng-container *ngFor="let branchOffice of branchOfficeList$ | async ">
                            <nz-option [nzValue]="branchOffice" nzLabel="{{branchOffice.name}}"></nz-option>
                        </ng-container>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Tipo de vehículo</nz-form-label>
                <nz-radio-group formControlName="vehicle_type">
                    <label nz-radio [nzValue]="1">
                        <img src="assets/svg/bicycle-svgrepo-com.svg" alt="">
                        Bicicleta</label>
                    <label nz-radio [nzValue]="2">
                        <img src="assets/svg/motorbike-bike-svgrepo-com.svg" alt="">
                        Moto</label>
                    <label nz-radio [nzValue]="3">
                        <img src="assets/svg/automobile-svgrepo-com.svg" alt="">
                        Carro</label>
                </nz-radio-group>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Forma de pago </nz-form-label>
                <nz-radio-group formControlName="payment_method">
                    <label nz-radio [nzValue]="1">
                        <img src="assets/svg/efectivo.svg" alt="">
                        Efectivo</label>
                    <label nz-radio [nzValue]="2">
                        <img src="assets/svg/datafono.svg" alt="">
                        Punto de venta</label>
                    <label nz-radio [nzValue]="3">
                        <img src="assets/svg/invoice-bill-svgrepo-com-1.svg" alt="">
                        Prepagado</label>
                </nz-radio-group>
            </nz-form-item>
            <nz-form-item *ngIf="_orderForm.baseForm.get('payment_method').value == 1">
                <nz-form-label>Total a cobrar al cliente:</nz-form-label>
                <nz-form-control nzErrorTip="Por favor ingresa la dirección!">
                    <input formControlName="total_value" type="number" nz-input placeholder="Escribe aquí…">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label>Comentarios al mensajero</nz-form-label>
                <nz-form-control>
                    <textarea formControlName="instructions" nz-input placeholder="Escribe los comentarios aquí…"
                        [nzAutosize]="{ minRows: 5, maxRows: 5 }"></textarea>
                </nz-form-control>
            </nz-form-item>
            <app-order-total [order]="_orderForm.baseForm.value"></app-order-total>
        </div>
        <div *ngIf="fourthContent" class="fourth-content">
            <div>
                <div class="map-container">
                    <div id="viewport-map"></div>
                </div>
            </div>
            <div>
                <span class="order-form-container__title"> RESUMEN DEL PEDIDO </span>
                <app-order-summary [order]="_orderForm.baseForm.value"
                    [branchOffice]="branchOfficeSelected"></app-order-summary>
                <app-order-total [order]="_orderForm.baseForm.value"></app-order-total>
            </div>
        </div>
    </form>
</div>

<div class="actions-container" [ngClass]="current === 3 ? 'actions-container--order-summary' : ''">
    <app-button [title]="'Atrás'" (click)="pre()"
        [customClasses]="'negative-main-btn negative-main-btn--form main--h-40  font-16'"></app-button>
    <app-button [title]="'Siguiente'" [customClasses]="'main main--form main--h-40  font-16'" (click)="next()"
        [isLoading]="false" *ngIf="current !== 3"></app-button>
    <app-button [title]="'Crear pedido'" (click)="createOrder()" [customClasses]="'main main--form main--h-40  font-16'"
        [isLoading]="false" *ngIf="current === 3"></app-button>
</div>