::ng-deep {
    .ant-table-column-sorter {
        color: white;
    }
}

tr {
    border-radius: 3rem;
    th {
        background-color: #0581ae;
        color: white;
    }
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}