<nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
        <tr style="border-radius: 30px;">
            <th style="background-color: #0581ae; color: white; " *ngFor="let column of listOfColumn"
                [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
                {{ column.title }}
            </th>
            <th style="background-color: #0581ae; color: white;  "></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of sortTable.data">
            <td *ngFor="let object of objectKeys">
                {{data[object]}}
            </td>
            <td>
                <div style="display: flex; justify-content: space-around; ">
                    <span style="font-size: 20px;" nz-icon nzType="edit" (click)="sendEditItem(data)"></span>
                    <span style="font-size: 20px;" nz-icon nzType="delete" (click)="sendDeleteItem(data)"></span>
                </div>
            </td>
        </tr>
    </tbody>
</nz-table>