<div class="order-summary">
    <div class="order-summary__title">
        <span>Datos del cliente:</span>
        <p>Cristina Mejia
            +58 0412 0207423</p>
    </div>
    <div class="order-summary__edit" (click)="clickClientDetail()">
        Editar <span nz-icon nzType="edit" nzTheme="outline"></span>
    </div>
</div>
<div class="order-summary">
    <div class="order-summary__title">
        <span>Dirección cliente:</span>
        <p>Av Urdaneta. Edf Parsa. Esq De Fuerzas Armadas, Local 3 Plaza España, Caracas 1010, Distrito Capital,
            Venezuela
        </p>
    </div>
    <div class="order-summary__edit" (click)="clickClientDetail()">
        Editar <span nz-icon nzType="edit" nzTheme="outline"></span>
    </div>
</div>
<div class="order-summary">
    <div class="order-summary__title">
        <span>Información de negocio:</span>
        <p>Mc Donald’s Centro Comercial El Recreo</p>
    </div>
    <div class="order-summary__edit" (click)="clickOrderDetail()">
        Editar <span nz-icon nzType="edit" nzTheme="outline"></span>
    </div>
</div>
<div class="order-summary">
    <div class="order-summary__title">
        <span>Método de pago:</span>
        <p><img src="assets/svg/efectivo.svg" alt="">
            Efectivo</p>
    </div>
    <div class="order-summary__edit" (click)="clickOrderDetail()">
        Editar <span nz-icon nzType="edit" nzTheme="outline"></span>
    </div>
</div>
<div class="order-summary">
    <div class="order-summary__title">
        <span>Tipo de vehículo</span>
        <p><img src="assets/svg/motorbike-bike-svgrepo-com.svg" alt="">
            Moto</p>
    </div>
    <div class="order-summary__edit" (click)="clickOrderDetail()">
        Editar <span nz-icon nzType="edit" nzTheme="outline"></span>
    </div>
</div>
<div class="order-summary">
    <div class="order-summary__title">
        <span>Comentarios al mensajero:</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales ipsum eget erat sodales, sit amet
            rhoncus .</p>
    </div>
    <div class="order-summary__edit" (click)="clickOrderDetail()">
        Editar <span nz-icon nzType="edit" nzTheme="outline"></span>
    </div>
</div>