<div [formGroup]="parentForm" class="phone-vzla-container">
    <!-- <nz-form-item>
        <nz-form-label>Télefono:</nz-form-label>
        <nz-form-control>
            <nz-select>
                <nz-option [nzLabel]="'Option1'" [nzValue]="'Option1'"></nz-option>
                <nz-option [nzLabel]="'Option2'" [nzValue]="'Option2'"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label></nz-form-label>
        <nz-form-control>
            <nz-select>
                <nz-option [nzLabel]="'Option1'" [nzValue]="'Option1'"></nz-option>
                <nz-option [nzLabel]="'Option2'" [nzValue]="'Option2'"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item> -->
    <nz-form-item>
        <nz-form-label>Télefono: </nz-form-label>
        <nz-form-control class="w-100" nzErrorTip="Por favor ingresa el télefono!">
            <input  formControlName="phone" nz-input placeholder="teléfono">
        </nz-form-control>
    </nz-form-item>
</div>